{% extends "layouts/base.html" %}
{% block main %}
<h1>Bienvenido, {{ user.username }}</h1>

    {% if account %}
        <p>Numero de cuenta: {{ account.accountNumber }}</p>
        <p>Saldo: S/.{{ account.balance }}</p>

        <h2>Transacciones</h2>
        <ul>
            {% for transaction in transactions %}
                <li>{{ transaction.dateTransaction }} - {{ transaction.transactionType }}: ${{ transaction.amount }}</li>
            {% endfor %}
        </ul>
        <br>
        <a class="bg-black p-1 text-white m-4" href="{% url 'makeTransaction' %}">Hacer una transaccion</a>
    {% else %}
        <p>No tienes una cuenta. <a href="{% url 'createAccount' %}">Crear una cuenta</a>.</p>
    {% endif %}
{% endblock  %}