<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Empleado Dashboard{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>
<body>
    <div class="container">
        <header>      
            {% include 'layouts/nav.html' %}
        </header>

        <div class="main-content">
            <div class="sidebar">           
                {% include 'employee/menu/dashboard.html' %}
            </div>

            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% block scrips %}{% endblock %}
</body>
</html>