{% extends "layouts/base.html" %}
{% block main %}
<main class="flex ">
    <div class="bg-gray-100 w-[65%]">
        {% load crispy_forms_tags %}
        <form action=" " method="POST" class="w-300 h-300">
            {% csrf_token %}
            <div class="card w-[50%] mx-auto my-16">
                <div class="card-body">
                    <h3 class="text-2xl m-4 flex justify-center">Ingrese sus Credenciales</h3>
                    {{ form | crispy }}
                    <div class="flex justify-center gap-8 my-6">
                        <a href="{% url 'menu' %}" class="">Inicio</a>
                        <a href="{% url 'register' %}" >Registrarse</a>
                        <button class=""> Iniciar Sesion</button>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
    <div>
        <p>aqui el reconocimiento facial</p>
    </div>
</main>
{% endblock  %}
